html, body {
    background-color:#EFF2F9;
    margin: 0;
}

.app-body {
    display: flex;
}

.app-body-left {
    display: flex;
    flex:0.2;
    justify-content: center;
    padding: 30px;
}

.app-body-center {
    display: flex;
    flex:1;
    justify-content: center;
    padding: 30px;
}

.app-body-right {
    display: flex;
    flex:0.3;
    justify-content: center;
    padding: 30px;

}
